* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#network,
#pulseaudio,
#tray {
    padding: 0 15px;
    color: #ffffff;
    margin: 4px 2px;
    border-radius: 12px;
}

#clock {
    background-color: #24283b; /* Darker navy */
    font-weight: bold;
}

#network {
    background-color: #414868;
}

#network.disconnected {
    background-color: #f7768e; /* Muted red for warning */
}

#pulseaudio {
    background-color: #565f89;
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: #444b6a;
    color: #a9b1d6;
}

#tray {
    background-color: #24283b;
}
